<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_left">
          <li><%= link_to "MEMOAPP", "/" %></li>
        </div>
        <div class="header_right">
          <li><%= link_to("ログアウト", "/user/logout", method: :post) %></li>
          <li><%= link_to("新規作成", "/posts/create") %></li>
          <li><%= link_to("メモ一覧", "/posts/index") %></li>
          <li><%= link_to("トップ", "/") %></li>
          <li><%= link_to("#{@current_user.name}") %></li>
        </div>
        <div class="clear_float"></div>
      </div>
    </header>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    <footer>
      <div class="footer_wrapper">
        <div class="footer_top">
          <div class="follow">
            <div class="follow_share_title">
              <p>FOLLOW US</p>
            </div>
            <div class="follow_icon">
              <li><%= icon("fab", "facebook") %></li>
              <li><%= icon("fab", "twitter") %></li>
              <li><%= icon("fab", "instagram") %></li>
            </div>
          </div>
          <div class="share">
            <div class="follow_share_title">
            </div>
            <div class="share_ion">
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="footer_left">
            <p>memoapp</p>
          </div>
          <div class="footer_right">
            <p>© 2020 YOKO inc.</p>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
        $('.flash').fadeOut(5000);
    </script>
  </body>
</html>
