<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>

  <body>
    <header>
      <div class="header_inner">
        <div class="header_left">
          <li><%= link_to "MEMOAPP", "/" %></li>
        </div>
        <div class="header_right">
          <li><%= link_to("新規作成", "/posts/create") %></li>
          <li><%= link_to("メモ一覧", "/posts/index") %></li>
          <li><%= link_to("トップ", "/") %></li>
        </div>
        <div class="clear_float"></div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
